.seed-btn {
  color: #fff !important;
  font-size: 2.5em !important;
  padding: 32px 0 !important;
  width: 90% !important;
  margin: 16px auto !important;
  display: block !important;
  border-radius: 18px !important;
  border: none !important;
  cursor: pointer !important;
  font-family: inherit !important;
}

.seed-modal {
  background: #222;
  border-radius: 18px;
  padding: 32px;
  text-align: center;
  position: relative;
}

.qr-img {
  width: 80vw;
}

.close-qr-btn {
  position: absolute;
  top: -16px;
  right: -16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}